.root {
  display: inline-flex;
}

.container > span {
  flex: 1;
}

.filled {
  background: #b4e2f4;
  border: solid 1px #99d7ef;
}

.hollow {
  background: none;
  border: solid 1px #99d7ef;
}

.circle {
  width: 12px;
  height: 12px;
  margin-right: 12px;
  border-radius: 50px;
}

.circle:last-child {
  margin-right: 0px;
}

.interactive {
  cursor: pointer;
}
