.root {
  cursor: pointer;
}

.readonly {
  cursor: default;
}

.radio {
  border-radius: 50%;
  border: 1px solid var(--color-grey-silver);
  background-color: #fff;
  background-position: center center;
  background-size: 80%;
  transition: all 200ms ease-in-out;
}

.root:hover .radio:not(.checked) {
  border-color: var(--color-grey-slate);
}

.checked {
  border-color: var(--color-brand-blue);
}

.icon {
  transition-duration: 0.15s !important;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--color-brand-blue);
  border: 3px solid #fff;
}
