.input__input__root___2jKNK___34pim {
  border: none;
  width: 100%;
  font-weight: 100;
  font-size: 16px;
  padding: 0 0 4px;
  color: var(--color-grey-charcoal);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--color-grey-silver);
  transition: background-color, border .2s linear;
  background: transparent;
}

.input__input__root___2jKNK___34pim:focus {
  outline: 0;
}

.input__input__root___2jKNK___34pim::placeholder {
  color: var(--color-grey-silver);
}

.input__input__root___2jKNK___34pim:disabled,
.input__input__root___2jKNK___34pim:read-only {
  border-bottom-style: dashed;
  color: var(--color-grey-silver);
}

.input__input__root___2jKNK___34pim:disabled {
  cursor: not-allowed;
}

.input__input__fullWidth___2oxAx___1ph8U {
  width: 100%;
}

.input__input__margin-none___tz3NA___nN0Tu {
  margin-bottom: 0px;
}

.input__input__margin-small___12MLe___t8WAY {
  margin-bottom: 5px;
}

.input__input__margin-medium___1NKob___gDVK1 {
  margin-bottom: 10px;
}

.input__input__margin-large___ZbcMl___2zWU2 {
  margin-bottom: 15px;
}

.input__input__size-small___19yqH___2d_ub {
  font-size: 14px;
}

.input__input__size-medium___CCt9u___3tbSS {
  font-size: 16px;
}

.input__input__size-large___2c5Z6___3tIBE {
  font-size: 20px;
}

.input__input__size-extra-large___1M8a-___1Lhwo {
  font-size: 24px;
}

.input__input__expands___3Hlad___alz3i {

}

.input__input__blank___1s9uB___2rjqV {

}

.input__input__focused___10BHF___1a6ED {

}

.input__input__default___3DlVE___3JVET {

}

.input__input__default___3DlVE___3JVET:not(:read-only):focus {
  border-bottom-color: var(--color-grey-silver);
}

.input__input__valid___1PCMm___1WPhE {
  border-bottom-color: var(--color-ui-success);
}

.input__input__invalid___1yAWu___11HGh {
  border-bottom-color: var(--color-brand-red) !important;
}

.input__input__borderless___3MeA5___3MXgJ {
  border-bottom-color: transparent;
  background: transparent;
  padding-bottom: 0;
}

.input__input__blue___1Kr27___1cb75 {
  color: var(--color-brand-blue);
  border-bottom-color: var(--color-brand-blue);
}

.input__input__dark___1BRez___3Hy0H {
  background: transparent;
  color: var(--color-grey-silver);
  border-bottom-color: var(--color-grey-silver);
}

.input__input__dark___1BRez___3Hy0H::-webkit-autofill {
  background: transparent;
}

.input__input__dark___1BRez___3Hy0H::placeholder {
  color: var(--color-grey-silver);
  opacity: 0.75;
}

.input__input__dark___1BRez___3Hy0H.input__input__focused___10BHF___1a6ED {
  border-bottom-color: #fff;
  color: #fff;
}

.input__input__transparent___2XhRY___2t9Od {
  background: transparent;
  border-bottom-color: #fff;
  color: #fff;
}

.input__input__transparent-grey___2aVzz___1bR4_ {
  padding-bottom: 10px;
  background: transparent;
  border-bottom-color: var(--color-grey-silver);
}

.input__input__transparent___2XhRY___2t9Od::placeholder {
  color: #fff;
  opacity: 0.50;
}

.input__input__root___2jKNK___34pim:-webkit-autofill {
  background-color: transparent;
}

.input__input__root___2jKNK___34pim[autocomplete="off"] {
  background-position: 150% 50% !important;
}

.input__input__well___3XEFf___2zfuG {
  border: 1px solid var(--color-grey-silver);
  padding: 7px 10px;
}
