.ui-input {
  min-width: 0;
  width: 100%;
  color: var(--navy700);

  background-color: #fff;
  border-radius: 4px;
  border: 1px solid var(--grey400);
  padding: 4px 8px 4px 16px;
  -webkit-appearance: none;

  &:focus {
    outline: 0;
  }

  &:disabled {
    background-color: var(--navy300);
    border: 1px solid var(--grey400);
    cursor: not-allowed;
    color: var(--navy600);
  }

  &:read-only {
    background-color: var(--navy300);
    border: 1px dashed var(--grey400);
    color: var(--navy600);
  }

  &::placeholder {
    color: var(--grey500);
  }

  &:not(:read-only):not(:disabled):hover {
    border: 1px solid var(--grey500);
  }

  &:not(:read-only):not(:disabled):focus {
    border: 1px solid var(--blue500);
  }
}

.ui-input--theme-transparent {
  background: transparent;
  border: 1px solid transparent;
  padding: 4px 0;

  &::placeholder {
    color: var(--navy500);
  }

  &:disabled,
  &:read-only {
    background-color: transparent;
    border: 0;
  }

  &:not(:read-only):not(:disabled):hover,
  &:not(:read-only):not(:disabled):focus {
    border: 1px solid transparent;
  }
}

.ui-input--theme-well {
  background-color: var(--grey200);
  border: 1px solid transparent;

  &::placeholder {
    color: var(--navy500);
  }

  &:not(:read-only):not(:disabled):hover,
  &:not(:read-only):not(:disabled):focus {
    border: 1px solid transparent;
  }
}

.ui-input--valid {
  border-color: var(--green500) !important;
}

.ui-input--invalid {
  border-color: var(--pink500) !important;
}

.ui-input--small {
  height: 32px;
  font-size: 14px;
}

.ui-input--medium {
  height: 40px;
  font-size: 14px;
}

.ui-input--large {
  height: 48px;
  font-size: 16px;
}

.ui-input--extra-large {
  height: 52px;
  font-size: 16px;
}
