.root {
  font-size: 16px;
  font-weight: 400;
  transition: background-color, border-color 160ms linear;
  user-select: text;
  width: 100%;
}

.input {
  width: 100%;
  min-width: 0;
  color: var(--navy700);
  font-size: 14px;
}

.input:focus {
  outline: 0;
}

.input::placeholder {
  color: var(--grey500);
}

.root[autocomplete='off'] {
  background-position: 150% 50% !important;
}

/*
** THEMES
*/
.theme-default .input {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #dfe2e4;
  padding: 4px 8px 4px 16px;
}

.theme-default .input:not(:read-only):not(:disabled):hover {
  border-color: var(--grey500);
}

.theme-default .input:not(:read-only):not(:disabled):focus {
  border-color: var(--blue500);
}

.theme-default .addon {
  background-color: var(--grey300);
  color: var(--navy600);
  border: 1px solid #dfe2e4;
  padding: 0 8px;
}

.theme-default .addon-prefix {
  border-radius: 3px 0 0 3px;
  border-right: 0;
}

.theme-default .addon-suffix {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.theme-transparent .input {
  background: transparent;
  border: 0;
  padding: 4px 0;
}

.theme-transparent .input::placeholder {
  color: var(--grey500);
}

.theme-well .input {
  border: 1px solid var(--grey500);
  padding: 7px 10px;
}

/*
** ADDON
*/
.addon {
  min-width: 40px;
  height: 40px;
  text-align: center;
}

.addon-prefix {
}

.addon-suffix {
}

.root:-webkit-autofill {
  background-color: transparent;
}

.withAddonPrefix .input {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.withAddonSuffix .input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.fullWidth {
  width: 100%;
}

/*
** LOW-ORDER CASCADES
*/
.input:disabled {
  background-color: var(--navy300);
  border: 1px solid #dbdfe2;
  cursor: not-allowed;
  color: var(--grey500);
}

.input:read-only {
  background-color: var(--navy300);
  border: 1px dashed #dbdfe2;
  color: var(--navy600);
}

.theme-transparent .input:disabled,
.theme-transparent .input:read-only {
  background-color: transparent;
  border: 0;
}

/*
** MARGIN
*/
.margin-none {
  margin-bottom: 0px;
}

.margin-small {
  margin-bottom: 8px;
}

.margin-medium {
  margin-bottom: 16px;
}

.margin-large {
  margin-bottom: 24px;
}

/*
** SIZE
*/
.size-small {
  font-size: 12px;
  height: 32px;
}

.size-medium {
  font-size: 14px;
  height: 40px;
}

.size-large {
  font-size: 16px;
  height: 48px;
}

.size-extra-large {
  font-size: 24px;
}

.expands {
  min-width: 100%;
}

.blank {
}

.focused {
}

/*
** STATES
*/
.valid {
  border-color: var(--green500) !important;
}

.invalid {
  border-color: var(--pink500) !important;
}

/*
** DEPRECATED
*/

.transparent-grey {
  padding-bottom: 10px;
  background: transparent;
  border-bottom-color: var(--grey500);
}

.borderless {
  border-bottom-color: transparent;
  background: transparent;
  padding-bottom: 0;
}

.blue {
  color: var(--blue500);
  border-bottom-color: var(--blue500);
}

.dark {
  background: transparent;
  color: var(--grey500);
  border-bottom-color: var(--grey500);
}

.dark::-webkit-autofill {
  background: transparent;
}

.dark::placeholder {
  color: var(--grey500);
  opacity: 0.75;
}

.dark.focused {
  border-bottom-color: #fff;
  color: #fff;
}
