{
  "plugins": [
    "lodash",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ],
    [
      "babel-plugin-transform-builtin-extend",
      {
        "globals": ["Error"]
      }
    ],
    "add-react-displayname"
  ],
  "presets": ["es2015", "react", "stage-2"],
  "env": {
    "test": {
      "plugins": [
        [
          "transform-runtime",
          {
            "polyfill": false,
            "regenerator": true
          }
        ],
        [
          "babel-plugin-transform-builtin-extend",
          {
            "globals": ["Error"]
          }
        ],
        "babel-plugin-transform-es2015-modules-commonjs"
      ]
    }
  }
}
