.ui-btn {
  position: relative;
  overflow: hidden;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  vertical-align: middle;
  transition: background 0.3s ease-out, color 0.2s ease-out;

  &:focus {
    outline: 0;
  }
}

.ui-btn--lone-icon {
  justify-content: center;
}

/**
  * Sizing
  */

.ui-btn--small {
  height: 30px;
  padding: 0 15px;
  font-size: 12px;

  &.ui-btn--lone-icon {
    width: 30px;
    padding: 0;
  }
}

.ui-btn--medium {
  height: 36px;
  padding: 0 18px;
  font-size: 14px;

  &.ui-btn--lone-icon {
    width: 36px;
    padding: 0;
  }
}

.ui-btn--large {
  height: 46px;
  padding: 0 23px;
  font-size: 14px;

  &.ui-btn--lone-icon {
    width: 46px;
    padding: 0;
  }
}

.ui-btn--extra-large {
  height: 52px;
  padding: 0 26px;
  font-size: 14px;

  &.ui-btn--lone-icon {
    width: 52px;
    padding: 0;
  }
}

/**
  * Themes
  */

.ui-btn--primary {
  background-color: var(--purple500);
  color: var(--white);

  &:hover {
    background-color: var(--purple400);
  }

  &:active,
  &.ui-btn--active {
    background-color: var(--purple600);
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--purple300);
  }
}

.ui-btn--secondary {
  background-color: var(--navy700);
  color: var(--white);

  &:hover {
    background-color: var(--navy600);
  }

  &:active,
  &.ui-btn--active {
    background-color: var(--navy700);
    box-shadow: none;
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--grey400);
  }
}

.ui-btn--tertiary {
  background-color: #fff;
  border: 1px solid var(--grey400);
  color: var(--navy700);

  &:hover {
    border-color: var(--grey400);
    background-color: var(--grey200);
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--grey300);
  }

  &:active,
  &.ui-btn--active {
    background-color: var(--grey300);
    box-shadow: none;
  }

  &.ui-btn--subdued {
    background-color: var(--grey300);
    border: 1px solid var(--grey400);
    color: var(--navy700);
  }
}

.ui-btn--delete {
  border-style: solid;
  border-width: 1px;
  border-color: var(--pink500);
  background-color: #fff;
  color: var(--pink500);

  &:hover {
    background-color: var(--pink500);
    border-color: var(--pink500);
    color: #fff;
  }

  &:focus {
    box-shadow: 0 0 0 3px var(--pink300);
  }

  &:active {
    background-color: var(--pink600);
    border-color: var(--pink600);
    color: #fff;
    box-shadow: none;
  }
}

.ui-btn--action {
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0);
  background-color: var(--pink500);
  color: #fff;

  &:hover {
    background-color: var(--pink400);
  }

  &:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.13), 0 6px 6px rgba(0, 0, 0, 0),
      0 0 0 3px var(--pink300);
  }

  &:active {
    background-color: var(--pink600);
  }
}

/** Grouping */
.ui-btn--grouped {
  border-radius: 0;
  border-right-width: 0 !important;

  &:first-of-type {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  &:last-of-type {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-right-width: 1px !important;
  }
}

.ui-btn--grouped-with-spacing {
  margin-left: 2.5px;
  margin-right: 2.5px;
}

/**
  * Variants
  */
.ui-btn--disabled,
.ui-btn:disabled {
  background-color: var(--grey300);
  color: var(--grey400);
  cursor: default;
}
