/* Text */

.root {
  font-family: 'WebFaktSoftPro', sans-serif;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: inherit;
  vertical-align: middle;
}

.root strong {
  font-weight: 600;
}

.resetTransform {
  text-transform: none;
}

.weight-light {
  font-weight: 300;
}

.weight-normal {
  font-weight: 400;
}

.weight-medium {
  font-weight: 500;
}

.weight-semi-bold {
  font-weight: 600;
}

.size-extra-extra-small {
  font-size: 10px;
}

.size-extra-small {
  font-size: 12px;
}

.size-small {
  font-size: 14px;
}

.size-medium {
  font-size: 16px;
}

.size-large {
  font-size: 18px;
}

.size-extra-large {
  font-size: 24px;
}

.size-extra-extra-large {
  font-size: 32px;
}

.size-huge {
  font-size: 42px;
}

.margin-none {
  margin-bottom: 0;
}

.margin-small {
  margin-bottom: 10px;
}

.margin-medium {
  margin-bottom: 15px;
}

.margin-large {
  margin-bottom: 30px;
}

.color-black,
.color-dark-grey,
.color-charcoal {
  color: var(--navy700);
}

.color-grey,
.color-slate {
  color: var(--navy600);
}

.color-silver,
.color-light-grey {
  color: var(--navy500);
}

.color-platinum {
  color: var(--navy400);
}

.color-snow {
  color: var(--navy300);
}

.color-white {
  color: var(--white);
}

.color-green {
  color: var(--green500);
}

.color-orange {
  color: var(--orange500);
}

.color-red,
.color-pink {
  color: var(--pink500);
}

.color-blue {
  color: var(--blue500);
}

.color-purple {
  color: var(--purple500);
}

.color-none {
}

.hover-color-white:hover {
  color: #fff;
}

.hover-color-snow:hover {
  color: var(--navy300);
}

.hover-color-platinum:hover {
  color: var(--navy400);
}

.hover-color-silver:hover,
.hover-color-light-grey:hover {
  color: var(--navy500);
}

.hover-color-slate:hover,
.hover-color-grey:hover {
  color: var(--navy600);
}

.hover-color-charcoal:hover,
.hover-color-dark-grey:hover {
  color: var(--navy700);
}

.hover-color-red:hover,
.hover-color-pink:hover {
  color: var(--pink500);
}

.hover-color-blue:hover {
  color: var(--blue500);
}

.hover-color-dark-blue:hover {
  color: var(--blue700);
}

.hover-color-green:hover {
  color: var(--green500);
}

.hover-color-orange:hover {
  color: var(--orange500);
}

.hover-color-none:hover {
}

.multiline {
  white-space: normal;
  text-overflow: initial;
  overflow: visible;
  white-space: pre-wrap;
  word-break: break-word;
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-none {
  text-align: initial;
}

.interactive {
  cursor: pointer;
}

.interactive:hover {
  text-decoration: underline;
}

.notInteractive {
  cursor: default;
}

.noUnderline,
.noUnderline:hover {
  text-decoration: none;
}
