.root {
  display: block;
  position: relative;
  background: white;
  border-radius: 0px;
  box-sizing: content-box;
  transition: all 0.2s ease-in-out;
}

.toolbar {
  border-bottom: 1px solid var(--color-grey-platinum);
}

.border {
  border-color: var(--color-grey-platinum);
  border-width: 1px;
  border-style: solid;
}

.rounded {
  border-radius: 5px;
}

.focused {
  margin: 0px -10px;
}

.padded {
  padding: 30px;
}

.opaque {
  background: none;
  border: 0;
  box-shadow: none !important;
}

.wireframe {
  background: transparent;
  border: 1px dashed var(--color-grey-silver);
}

.level-0 {
  border: 1px transparent solid;
  box-shadow: none;
}

.level-1 {
  box-shadow: none;
}

.level-2 {
  box-shadow: 0 3px 6px rgba(140, 140, 140, 0.08);
}

.level-3 {
  box-shadow: 0 10px 25px rgba(140, 140, 140, 0.14);
}

.level-4 {
  box-shadow: 0 12px 25px rgba(140, 140, 140, 0.21);
}

.level-5 {
  box-shadow: 0 14px 25px rgba(140, 140, 140, 0.27);
}

.interactive {
  cursor: pointer;
}

.hover-level-1:hover {
  box-shadow: none;
}

.hover-level-2:hover {
  box-shadow: 0 3px 6px rgba(140, 140, 140, 0.08);
}

.hover-level-3:hover {
  box-shadow: 0 10px 25px rgba(140, 140, 140, 0.14);
}

.hover-level-4:hover {
  box-shadow: 0 12px 25px rgba(140, 140, 140, 0.21);
}

.hover-level-5:hover {
  box-shadow: 0 14px 25px rgba(140, 140, 140, 0.27);
}
