.root {
  background: transparent;
}

.animate {
  border: none;
  width: 100%;
  font-weight: 100;
  font-size: 14px;
  color: var(--color-grey-charcoal);
  border-bottom: 1px solid var(--color-grey-silver);
  transition: background-color, border .2s linear, height 0.5s ease-out;
  padding: 8px 0;
}

.root::placeholder {
  color: var(--color-grey-silver);
}

.animate.theme-default:focus {
  border-bottom: 1px solid var(--color-grey-silver);
}

.expand {
  overflow: hidden;
  resize: none;
}

.theme-default {

}

.theme-well {
  border: 1px solid var(--color-grey-platinum);
  padding: 7px 10px;
}
