:root {
  --grid-gutter: 25px;
  --grid-gutter-small: 10px;
  --spacing-small: 5px;
  --spacing-medium: 10px;
  --spacing-extra-medium: 16px;
  --spacing-large: 25px;
}

.list__list__root___6efez___1zg0_ {
  box-sizing: border-box;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list__list__horizontal___3ruAB___2ymFt {
  white-space: nowrap;
  max-width: 100%;
}

.list__list__multiline___3zHED___1Kq_K {
  white-space: normal;
}

.list__list__vertical___fVuVL___2_tI3 {

}

.list__list__grid___2NLlK___1F_WA {
  display: flex;
  flex-wrap: wrap;
  margin-left: -var(--grid-gutter);
  justify-content: flex-start;
}

.list__list__wrap___1fj97___3NaMr {
  flex-wrap: wrap;
  white-space: normal;
}

.list__list__horizontal-flex___1h2Ch___1_-lZ,
.list__list__horizontal-fit___3jEDZ___24LVm {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.list__list__horizontal-fit___3jEDZ___24LVm {
  min-width: 100%;
  max-width: 100%;
  justify-content: center;
}

.list__list__horizontal-fit___3jEDZ___24LVm .list__list__item___2T7N4___1DB_q {
  flex: 5 1 100%;
}

.list__list__vertical-flex___46D-h___1r4zl {
  display: flex;
  flex-direction: column;
}

.list__list__item___2T7N4___1DB_q {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}

.list__list__item-grid___2In7H___1-La- {
  display: block;
  flex: 1;
  padding: var(--grid-gutter) 0 0 var(--grid-gutter);
}

.list__list__item-grid___2In7H___1-La-.list__list__item-spaced-small___bOTg6___PyWQT {
  padding: var(--grid-gutter-small) 0 0 var(--grid-gutter);
}

.list__list__item-horizontal___1MWFn___2r_fE {
  display: inline-block;
}

.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-small___bOTg6___PyWQT,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-small___bOTg6___PyWQT,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-small___bOTg6___PyWQT{
  padding-right: var(--spacing-small);
}
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-medium___2rG2H___2nyhL,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-medium___2rG2H___2nyhL,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-medium___2rG2H___2nyhL {
  padding-right: var(--spacing-medium);
}
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-medium-right___2ej3J___3gghZ,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-medium-right___2ej3J___3gghZ,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-medium-right___2ej3J___3gghZ {
  padding-left: var(--spacing-medium);
}
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-extra-medium___2Qse0___6oCh6,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-extra-medium___2Qse0___6oCh6,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-extra-medium___2Qse0___6oCh6 {
  padding-right: var(--spacing-extra-medium);
}
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-large___FKJCC___1zAmp,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-large___FKJCC___1zAmp,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-large___FKJCC___1zAmp {
  padding-right: var(--spacing-large);
}

.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-small___bOTg6___PyWQT:last-child,
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-medium___2rG2H___2nyhL:last-child,
.list__list__item-horizontal___1MWFn___2r_fE.list__list__item-spaced-large___FKJCC___1zAmp:last-child,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-small___bOTg6___PyWQT:last-child,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-medium___2rG2H___2nyhL:last-child,
.list__list__item-horizontal-fit___3HBXB___22VRu.list__list__item-spaced-large___FKJCC___1zAmp:last-child,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-small___bOTg6___PyWQT:last-child,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-medium___2rG2H___2nyhL:last-child,
.list__list__item-horizontal-flex___3c4ZF___2C61f.list__list__item-spaced-large___FKJCC___1zAmp:last-child {
  padding-right: 0;
}

.list__list__item-vertical___ANUoW___1ZXyI {

}

.list__list__item-horizontal-fit___3HBXB___22VRu {

}

.list__list__item-horizontal-flex___3c4ZF___2C61f {
  display: flex;
  flex: 0 0 auto;
}

.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-small___11G_d___3BxpS {
  padding-bottom: var(--spacing-small);
}

.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-medium___30Qh2___-s35T,
.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-medium-right___3cVtK___3m3ic {
  padding-bottom: var(--spacing-medium);
}

.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-large___zfGS-___2OOgz {
  padding-bottom: var(--spacing-large);
}

.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-small___11G_d___3BxpS:last-child,
.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-medium___30Qh2___-s35T:last-child,
.list__list__item-horizontal-multiline___o7XN4___2VSDV.list__list__item-multiline-spaced-large___zfGS-___2OOgz:last-child {
  padding-bottom: 0;
}

.list__list__item-vertical-flex___1KsLJ___YZI3d {
  flex: 1 0;
}

.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-small___bOTg6___PyWQT,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-small___bOTg6___PyWQT {
  padding-bottom: var(--spacing-small);
}
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-medium___2rG2H___2nyhL,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-medium___2rG2H___2nyhL {
  padding-bottom: var(--spacing-medium);
}
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-extra-medium___2Qse0___6oCh6,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-extra-medium___2Qse0___6oCh6 {
  padding-bottom: var(--spacing-extra-medium);
}
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-large___FKJCC___1zAmp,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-large___FKJCC___1zAmp {
  padding-bottom: var(--spacing-large);
}

.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-small___bOTg6___PyWQT:last-child,
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-medium___2rG2H___2nyhL:last-child,
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-extra-medium___2Qse0___6oCh6:last-child,
.list__list__item-vertical___ANUoW___1ZXyI.list__list__item-spaced-large___FKJCC___1zAmp:last-child,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-small___bOTg6___PyWQT:last-child,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-medium___2rG2H___2nyhL:last-child,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-extra-medium___2Qse0___6oCh6:last-child,
.list__list__item-vertical-flex___1KsLJ___YZI3d.list__list__item-spaced-large___FKJCC___1zAmp:last-child {
  padding-bottom: 0;
}

.list__list__justify-flex-start___2Z1jI___1lqWQ {
  justify-content: flex-start;
}

.list__list__justify-flex-end___UXYjg___1kGGT {
  justify-content: flex-end;
  text-align: right; /* TODO: this is kind of broken; */
}

.list__list__justify-center___236FR___245Ds {
  justify-content: center;
}

.list__list__justify-space-between___2aq--___39eOM {
  justify-content: space-between;
}

.list__list__justify-space-around___3MjqA___1kSW0 {
  justify-content: space-around;
}
