
  .hover-color-navy600:hover {
          color: var(--navy600);
        }
        .hover-color-pink600:hover {
          color: var(--pink600);
        }
        .hover-color-navy700:hover {
          color: var(--navy700);
        }
        .hover-color-pink700:hover {
          color: var(--pink700);
        }
        .hover-color-navy800:hover {
          color: var(--navy800);
        }
        .hover-color-orange000:hover {
          color: var(--orange000);
        }
        .hover-color-pink800:hover {
          color: var(--pink800);
        }
        .hover-color-navy900:hover {
          color: var(--navy900);
        }
        .hover-color-orange100:hover {
          color: var(--orange100);
        }
        .hover-color-snow:hover {
          color: var(--snow);
        }
        .hover-color-pink900:hover {
          color: var(--pink900);
        }
        .hover-color-green:hover {
          color: var(--green);
        }
        .hover-color-orange200:hover {
          color: var(--orange200);
        }
        .hover-color-orange300:hover {
          color: var(--orange300);
        }
        .hover-color-orange400:hover {
          color: var(--orange400);
        }
        .hover-color-orange500:hover {
          color: var(--orange500);
        }
        .hover-color-orange600:hover {
          color: var(--orange600);
        }
        .hover-color-white:hover {
          color: var(--white);
        }
        .hover-color-orange700:hover {
          color: var(--orange700);
        }
        .hover-color-orange800:hover {
          color: var(--orange800);
        }
        .hover-color-orange900:hover {
          color: var(--orange900);
        }
        .hover-color-platinum:hover {
          color: var(--platinum);
        }
        .hover-color-green000:hover {
          color: var(--green000);
        }
        .hover-color-charcoal:hover {
          color: var(--charcoal);
        }
        .hover-color-silver:hover {
          color: var(--silver);
        }
        .hover-color-green100:hover {
          color: var(--green100);
        }
        .hover-color-orange:hover {
          color: var(--orange);
        }
        .hover-color-green200:hover {
          color: var(--green200);
        }
        .hover-color-green300:hover {
          color: var(--green300);
        }
        .hover-color-red:hover {
          color: var(--red);
        }
        .hover-color-grey000:hover {
          color: var(--grey000);
        }
        .hover-color-green400:hover {
          color: var(--green400);
        }
        .hover-color-grey100:hover {
          color: var(--grey100);
        }
        .hover-color-green500:hover {
          color: var(--green500);
        }
        .hover-color-grey200:hover {
          color: var(--grey200);
        }
        .hover-color-green600:hover {
          color: var(--green600);
        }
        .hover-color-purple000:hover {
          color: var(--purple000);
        }
        .hover-color-grey300:hover {
          color: var(--grey300);
        }
        .hover-color-green700:hover {
          color: var(--green700);
        }
        .hover-color-purple100:hover {
          color: var(--purple100);
        }
        .hover-color-grey400:hover {
          color: var(--grey400);
        }
        .hover-color-green800:hover {
          color: var(--green800);
        }
        .hover-color-purple200:hover {
          color: var(--purple200);
        }
        .hover-color-grey500:hover {
          color: var(--grey500);
        }
        .hover-color-green900:hover {
          color: var(--green900);
        }
        .hover-color-blue000:hover {
          color: var(--blue000);
        }
        .hover-color-navy:hover {
          color: var(--navy);
        }
        .hover-color-purple300:hover {
          color: var(--purple300);
        }
        .hover-color-grey600:hover {
          color: var(--grey600);
        }
        .hover-color-blue100:hover {
          color: var(--blue100);
        }
        .hover-color-grey700:hover {
          color: var(--grey700);
        }
        .hover-color-blue200:hover {
          color: var(--blue200);
        }
        .hover-color-none:hover {
          color: var(--none);
        }
        .hover-color-purple400:hover {
          color: var(--purple400);
        }
        .hover-color-grey800:hover {
          color: var(--grey800);
        }
        .hover-color-slate:hover {
          color: var(--slate);
        }
        .hover-color-blue300:hover {
          color: var(--blue300);
        }
        .hover-color-purple500:hover {
          color: var(--purple500);
        }
        .hover-color-blue:hover {
          color: var(--blue);
        }
        .hover-color-grey900:hover {
          color: var(--grey900);
        }
        .hover-color-pink000:hover {
          color: var(--pink000);
        }
        .hover-color-blue400:hover {
          color: var(--blue400);
        }
        .hover-color-navy000:hover {
          color: var(--navy000);
        }
        .hover-color-purple600:hover {
          color: var(--purple600);
        }
        .hover-color-pink100:hover {
          color: var(--pink100);
        }
        .hover-color-inherit:hover {
          color: var(--inherit);
        }
        .hover-color-blue500:hover {
          color: var(--blue500);
        }
        .hover-color-navy100:hover {
          color: var(--navy100);
        }
        .hover-color-purple700:hover {
          color: var(--purple700);
        }
        .hover-color-pink200:hover {
          color: var(--pink200);
        }
        .hover-color-blue600:hover {
          color: var(--blue600);
        }
        .hover-color-navy200:hover {
          color: var(--navy200);
        }
        .hover-color-purple800:hover {
          color: var(--purple800);
        }
        .hover-color-purple:hover {
          color: var(--purple);
        }
        .hover-color-pink300:hover {
          color: var(--pink300);
        }
        .hover-color-currentColor:hover {
          color: var(--currentColor);
        }
        .hover-color-blue700:hover {
          color: var(--blue700);
        }
        .hover-color-navy300:hover {
          color: var(--navy300);
        }
        .hover-color-purple900:hover {
          color: var(--purple900);
        }
        .hover-color-blue800:hover {
          color: var(--blue800);
        }
        .hover-color-navy400:hover {
          color: var(--navy400);
        }
        .hover-color-pink400:hover {
          color: var(--pink400);
        }
        .hover-color-blue900:hover {
          color: var(--blue900);
        }
        .hover-color-navy500:hover {
          color: var(--navy500);
        }
        .hover-color-grey:hover {
          color: var(--grey);
        }
        .hover-color-pink500:hover {
          color: var(--pink500);
        }
        .hover-color-black:hover {
          color: var(--black);
        }
        
  