
$navy600: #6b6d85;
$pink600: #d73f71;
$navy700: #565873;
$pink700: #bc3763;
$navy800: #414262;
$orange000: #fef5e1;
$pink800: #9b2d52;
$navy900: #2c2e50;
$orange100: #feebc2;
$snow: #dde1e4;
$pink900: #6f203b;
$green: #4ed2a4;
$orange200: #fee0a0;
$orange300: #fdd479;
$orange400: #fdc64e;
$orange500: #fdb61c;
$orange600: #e4a419;
$white: #ffffff;
$orange700: #c99016;
$orange800: #a77812;
$orange900: #78560d;
$platinum: #cdd3d8;
$green000: #e8f9f3;
$charcoal: #2c2e50;
$silver: #abb4bb;
$green100: #d0f3e7;
$orange: #fdb61c;
$green200: #b5ecd9;
$green300: #98e4ca;
$red: #ee467e;
$grey000: #f9fafc;
$green400: #76dcb8;
$grey100: #edf1f5;
$green500: #4ed2a4;
$grey200: #dde1e4;
$green600: #46be94;
$purple000: #f3effa;
$grey300: #cdd3d8;
$green700: #3da682;
$purple100: #e6def5;
$grey400: #bdc4cb;
$green800: #338a6c;
$purple200: #d8cbf0;
$grey500: #abb4bb;
$green900: #25644e;
$blue000: #e8f6f8;
$navy: #2c2e50;
$purple300: #c8b6e9;
$grey600: #98a0a7;
$blue100: #d0ecf2;
$grey700: #83898f;
$blue200: #b5e2eb;
$none: "";
$purple400: #b59ee2;
$grey800: #676c71;
$slate: #414262;
$blue300: #97d6e3;
$purple500: #9f81da;
$blue: #4db9cf;
$grey900: #3c3f42;
$pink000: #fdecf1;
$blue400: #75c8d9;
$navy000: #eaeaee;
$purple600: #8f74c4;
$pink100: #fbd6e3;
$inherit: inherit;
$blue500: #4db9cf;
$navy100: #d5d5dc;
$purple700: #7d65ac;
$pink200: #f9bed2;
$blue600: #45a7bb;
$navy200: #c0c0cb;
$purple800: #67548e;
$purple: #9f81da;
$pink300: #f6a2be;
$current-color: currentColor;
$blue700: #3d92a4;
$navy300: #ababb9;
$purple900: #493b65;
$blue800: #327988;
$navy400: #9697ab;
$pink400: #f37da5;
$blue900: #245761;
$navy500: #808296;
$grey: #98a0a7;
$pink500: #ee467e;
$black: #000000;
$gradient-pink: linear-gradient(to right, #E83F94 0%, #F54E5E 100%);
$gradient-purple-stop-1: #e62888;
$gradient-blue: linear-gradient(to right, #2DC9EB 0%, #14D2B8 100%);
$gradient-purple-stop-2: #211660;
$gradient-blue-stop-1: #2dc9eb;
$gradient-blue-stop-2: #14d2b8;
$gradient-purple: linear-gradient(135deg, #E62888 0%, #211660 100%);
$gradient-pink-stop-1: #e83f94;
$gradient-pink-stop-2: #f54e5e;
$gradient-blue-two: linear-gradient(135deg, #0d7ef2 0%, #49a1fb 100%);
$gradient-blue-two-stop-1: #0d7ef2;
$gradient-blue-two-stop-2: #49a1fb;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-size-heading-medium: 1.6rem;
$font-size-heading-extra-large: 2.4rem;
$font-size-text-small: 1.4rem;
$font-size-text-extra-large: 2.4rem;
$font-size-heading-extra-small: 1rem;
$font-size-heading-large: 2rem;
$font-size-text-extra-small: 1.2rem;
$font-size-text-large: 1.8rem;
$font-size-text-medium: 1.6rem;
$font-size-heading-small: 1.4rem;
$box-shadow-level-0: none;
$box-shadow-level-1: 0 3px 6px rgba(140, 140, 140, 0.08);
$box-shadow-level-2: 0 10px 25px rgba(140, 140, 140, 0.14);
$box-shadow-level-3: 0 12px 25px rgba(140, 140, 140, 0.21);
$box-shadow-level-4: 0 14px 25px rgba(140, 140, 140, 0.27);
$info: #e8fafc;
$confirmation: #e5f7f1;
$error: #ffebee;
$warning: #fff6d8;
$grid-max-width: 1200;
$spacing-none: 0px;
$spacing-extra-small: 4px;
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;
$spacing-extra-large: 32px;
$spacing-extra-extra-large: 48px;
$table-default-border: 1px solid #EDF1F5;
$input-default-background: #ffffff;
$input-placeholder-color: #abb4bb;
$input-hover-border: 1px solid #abb4bb;
$input-border-radius: 4px;
$input-active-border: 1px solid #98a0a7;
$input-default-color: #2c2e50;
$input-readonly-border: 1px dashed #dde1e4;
$input-disabled-color: #bdc4cb;
$input-readonly-background: #edf1f5;
$input-disabled-border: 1px solid #dde1e4;
$input-readonly-color: #bdc4cb;
$input-disabled-background: #edf1f5;
$input-default-border: 1px solid #dde1e4;
