
:root {
  --navy600: rgb(84, 103, 137);
  --pink600: rgb(224, 88, 103);
  --navy700: rgb(55, 69, 97);
  --pink700: rgb(195, 74, 87);
  --snow: rgb(249, 250, 252);
  --green: rgb(62, 179, 138);
  --orange300: rgb(255, 237, 180);
  --orange400: rgb(255, 206, 94);
  --orange500: rgb(253, 184, 28);
  --orange600: rgb(246, 175, 13);
  --white: rgb(255, 255, 255);
  --orange700: rgb(216, 145, 24);
  --platinum: rgb(238, 244, 250);
  --charcoal: rgb(55, 69, 97);
  --silver: rgb(176, 186, 195);
  --orange: rgb(253, 184, 28);
  --green300: rgb(216, 240, 232);
  --red: rgb(234, 95, 110);
  --green400: rgb(79, 210, 164);
  --green500: rgb(62, 179, 138);
  --grey200: rgb(249, 250, 252);
  --green600: rgb(56, 160, 124);
  --grey300: rgb(238, 244, 250);
  --green700: rgb(41, 134, 101);
  --grey400: rgb(208, 216, 223);
  --pink: rgb(234, 95, 110);
  --grey500: rgb(176, 186, 195);
  --navy: rgb(147, 166, 193);
  --purple300: rgb(232, 226, 242);
  --grey600: rgb(137, 146, 155);
  --grey700: rgb(112, 125, 138);
  --none: "";
  --purple400: rgb(159, 129, 218);
  --slate: rgb(84, 103, 137);
  --blue300: rgb(193, 244, 255);
  --purple500: rgb(138, 112, 189);
  --blue: rgb(84, 195, 219);
  --blue400: rgb(101, 210, 234);
  --purple600: rgb(119, 95, 168);
  --inherit: "inherit";
  --blue500: rgb(84, 195, 219);
  --purple700: rgb(96, 78, 131);
  --blue600: rgb(77, 184, 207);
  --purple: rgb(138, 112, 189);
  --pink300: rgb(251, 223, 226);
  --current-color: "currentColor";
  --blue700: rgb(43, 167, 194);
  --navy300: rgb(249, 250, 252);
  --navy400: rgb(198, 199, 216);
  --pink400: rgb(253, 179, 200);
  --navy500: rgb(147, 166, 193);
  --grey: rgb(137, 146, 155);
  --pink500: rgb(234, 95, 110);
  --black: rgb(0, 0, 0);
  --font-size-heading-large: 32px;
  --font-size-heading-medium: 24px;
  --font-size-heading-small: 16px;
  --font-size-heading-x-small: 12px;
  --font-size-text-large: 18px;
  --font-size-text-medium: 16px;
  --font-size-text-small: 14px;
  --font-size-text-x-small: 12px;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --border-radius: 4px;
  --border-radius-input: 4px;
  --border-radius-button: 4px;
  --box-shadow-level-0: "none";
  --box-shadow-level-1: "0 3px 6px rgba(140, 140, 140, 0.08)";
  --box-shadow-level-2: "0 10px 25px rgba(140, 140, 140, 0.14)";
  --box-shadow-level-3: "0 12px 25px rgba(140, 140, 140, 0.21)";
  --box-shadow-level-4: "0 14px 25px rgba(140, 140, 140, 0.27)";
  --input-hover-border: "1px solid #B0BAC3";
  --input-border-radius: "4px";
  --input-active-border: "1px solid #54C3DB";
  --input-readonly-border: "1px dashed #D0D8DF";
  --input-disabled-color: "#546789";
  --input-readonly-background: "#F9FAFC";
  --input-disabled-border: "1px solid #D0D8DF";
  --input-readonly-color: "#546789";
  --input-disabled-background: "#F9FAFC";
  --input-default-border: "1px solid #D0D8DF";
  --info: rgb(232, 250, 252);
  --confirmation: rgb(229, 247, 241);
  --error: rgb(255, 235, 238);
  --warning: rgb(255, 246, 216);
  --grid-max-width: 1200;
  --spacing-none: 0px;
  --spacing-extra-small: 4px;
  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 32px;
  --spacing-extra-large: 64px;
}
