{
  "presets": ["next/babel"],
  "plugins": [
    "lodash",
    ["emotion", {"inline": true}],
    ["markdown-in-js/babel"],
    ["babel-plugin-transform-flow-strip-types"],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./docs/components",
          "layouts": "./docs/layouts",
          "content": "./docs/content"
        }
      }
    ]
  ]
}
