{
  "presets": ["next/babel"],
  "extends": "../.babelrc",
  "plugins": [
    "lodash",
    ["emotion", {"inline": true}],
    ["markdown-in-js/babel"],
    ["babel-plugin-transform-flow-strip-types"]
  ]
}
