.ui-avatar-group {
  display: flex;
  flex-wrap: no-wrap;
  z-index: 1;
  position: relative;
}

/*
 * We use a box shadow here rather than a border to ensure
 * that when an avatar group is aligned next to a non-grouped
 * avatar, the sizes will still remain consistent
 */

.ui-avatar-group__chip {
  background-color: var(--grey100);
  border: 2px solid var(--grey400);
  color: var(--grey800);
  font-size: 1.4rem;
  font-weight: 500;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -0.7em;
}
