:root {
  --pink300: #FBDFE2;
  --pink400: #FDB3C8;
  --pink500: #EA5F6E;
  --pink600: #E05867;
  --pink700: #C34A57;

  --orange300: #FFEDB4;
  --orange400: #FFCE5E;
  --orange500: #FDB81C;
  --orange600: #F6AF0D;
  --orange700: #D89118;

  --purple300: #e8e2f2;
  --purple400: #9F81DA;
  --purple500: #8A70BD;
  --purple600: #775FA8;
  --purple700: #604e83;

  --green300: #D8F0E8;
  --green400: #4FD2A4;
  --green500: #3eb38a;
  --green600: #38A07C;
  --green700: #298665;

  --blue300: #C1F4FF;
  --blue400: #65D2EA;
  --blue500: #54C3DB;
  --blue600: #4DB8CF;
  --blue700: #2BA7C2;

  --navy300: #F9FAFC;
  --navy400: #C6C7D8;
  --navy500: #93A6C1;
  --navy600: #546789;
  --navy700: #374561;

  --grey200: #F9FAFC;
  --grey300: #EEF4FA;
  --grey400: #D0D8DF;
  --grey500: #B0BAC3;
  --grey600: #89929B;
  --grey700: #707D8A;

  --color-white: #ffffff;
  --color-grey-snow: #f9fafc;
  --color-grey-platinum: #eceff1;
  --color-grey-silver: #b0bec5;
  --color-grey-slate: #547b89;
  --color-grey-charcoal: #234957;
}