.root {
  transform-origin: top;
  transition: box-shadow 0.2s linear;
  transition-duration: 0.2s !important;
}

.header {
  display: flex;
  padding: 30px 30px 15px 30px;
  justify-content: space-between;
}

.options {
  display: flex;
  justify-content: flex-end;
  margin-top: -6px;
}

.close {
  cursor: pointer;
}
