.hover-color-white:hover {
  color: var(--white);
}

.hover-color-black:hover {
  color: var(--black);
}

.hover-color-grey200:hover {
  color: var(--grey200);
}

.hover-color-grey300:hover {
  color: var(--grey300);
}

.hover-color-grey400:hover {
  color: var(--grey400);
}

.hover-color-grey500:hover {
  color: var(--grey500);
}

.hover-color-grey600:hover {
  color: var(--grey600);
}

.hover-color-grey700:hover {
  color: var(--grey700);
}

.hover-color-blue300:hover {
  color: var(--blue300);
}

.hover-color-blue400:hover {
  color: var(--blue400);
}

.hover-color-blue500:hover {
  color: var(--blue500);
}

.hover-color-blue600:hover {
  color: var(--blue600);
}

.hover-color-blue700:hover {
  color: var(--blue700);
}

.hover-color-pink300:hover {
  color: var(--pink300);
}

.hover-color-pink400:hover {
  color: var(--pink400);
}

.hover-color-pink500:hover {
  color: var(--pink500);
}

.hover-color-pink600:hover {
  color: var(--pink600);
}

.hover-color-pink700:hover {
  color: var(--pink700);
}

.hover-color-purple300:hover {
  color: var(--purple300);
}

.hover-color-purple400:hover {
  color: var(--purple400);
}

.hover-color-purple500:hover {
  color: var(--purple500);
}

.hover-color-purple600:hover {
  color: var(--purple600);
}

.hover-color-purple700:hover {
  color: var(--purple700);
}

.hover-color-green300:hover {
  color: var(--green300);
}

.hover-color-green400:hover {
  color: var(--green400);
}

.hover-color-green500:hover {
  color: var(--green500);
}

.hover-color-green600:hover {
  color: var(--green600);
}

.hover-color-green700:hover {
  color: var(--green700);
}

.hover-color-orange300:hover {
  color: var(--orange300);
}

.hover-color-orange400:hover {
  color: var(--orange400);
}

.hover-color-orange500:hover {
  color: var(--orange500);
}

.hover-color-orange600:hover {
  color: var(--orange600);
}

.hover-color-orange700:hover {
  color: var(--orange700);
}

.hover-color-navy300:hover {
  color: var(--navy300);
}

.hover-color-navy400:hover {
  color: var(--navy400);
}

.hover-color-navy500:hover {
  color: var(--navy500);
}

.hover-color-navy600:hover {
  color: var(--navy600);
}

.hover-color-navy700:hover {
  color: var(--navy700);
}

.hover-color-currentColor:hover {
  color: currentColor;
}

.hover-color-none:hover {
  color: none;
}

.hover-color-inherit:hover {
  color: inherit;
}
