.fill-white {
  fill: var(--white);
}

.fill-black {
  fill: var(--black);
}

.fill-grey200 {
  fill: var(--grey200);
}

.fill-grey300 {
  fill: var(--grey300);
}

.fill-grey400 {
  fill: var(--grey400);
}

.fill-grey500 {
  fill: var(--grey500);
}

.fill-grey600 {
  fill: var(--grey600);
}

.fill-grey700 {
  fill: var(--grey700);
}

.fill-blue300 {
  fill: var(--blue300);
}

.fill-blue400 {
  fill: var(--blue400);
}

.fill-blue500 {
  fill: var(--blue500);
}

.fill-blue600 {
  fill: var(--blue600);
}

.fill-blue700 {
  fill: var(--blue700);
}

.fill-pink300 {
  fill: var(--pink300);
}

.fill-pink400 {
  fill: var(--pink400);
}

.fill-pink500 {
  fill: var(--pink500);
}

.fill-pink600 {
  fill: var(--pink600);
}

.fill-pink700 {
  fill: var(--pink700);
}

.fill-purple300 {
  fill: var(--purple300);
}

.fill-purple400 {
  fill: var(--purple400);
}

.fill-purple500 {
  fill: var(--purple500);
}

.fill-purple600 {
  fill: var(--purple600);
}

.fill-purple700 {
  fill: var(--purple700);
}

.fill-green300 {
  fill: var(--green300);
}

.fill-green400 {
  fill: var(--green400);
}

.fill-green500 {
  fill: var(--green500);
}

.fill-green600 {
  fill: var(--green600);
}

.fill-green700 {
  fill: var(--green700);
}

.fill-orange300 {
  fill: var(--orange300);
}

.fill-orange400 {
  fill: var(--orange400);
}

.fill-orange500 {
  fill: var(--orange500);
}

.fill-orange600 {
  fill: var(--orange600);
}

.fill-orange700 {
  fill: var(--orange700);
}

.fill-navy300 {
  fill: var(--navy300);
}

.fill-navy400 {
  fill: var(--navy400);
}

.fill-navy500 {
  fill: var(--navy500);
}

.fill-navy600 {
  fill: var(--navy600);
}

.fill-navy700 {
  fill: var(--navy700);
}

.fill-currentColor {
  fill: currentColor;
}

.fill-none {
  fill: none;
}

.fill-inherit {
  fill: inherit;
}

/** Legacy Colors - These are here for backwards compatibility */
.fill-navy {
  fill: var(--navy700);
}

.fill-green {
  fill: var(--green500);
}

.fill-pink {
  fill: var(--pink500);
}

.fill-blue {
  fill: var(--blue500);
}
.fill-purple {
  fill: var(--purple500);
}

.fill-orange {
  fill: var(--orange500);
}

.fill-grey {
  fill: var(--grey500);
}

.fill-red {
  fill: var(--pink500);
}

.fill-snow {
  fill: var(--grey300);
}

.fill-platinum {
  fill: var(--grey400);
}

.fill-silver {
  fill: var(--grey500);
}

.fill-slate {
  fill: var(--navy600);
}

.fill-charcoal {
  fill: var(--navy700);
}

.fill-dark-grey {
  fill: var(--navy700);
}

.fill-light-grey {
  fill: var(--grey500);
}

/* Special gradient filles */
.fill-gradient-pink {
  fill: url(#gradient-pink);
}
