.color-white {
  color: var(--white);
}

.color-black {
  color: var(--black);
}

.color-grey200 {
  color: var(--grey200);
}

.color-grey300 {
  color: var(--grey300);
}

.color-grey400 {
  color: var(--grey400);
}

.color-grey500 {
  color: var(--grey500);
}

.color-grey600 {
  color: var(--grey600);
}

.color-grey700 {
  color: var(--grey700);
}

.color-blue300 {
  color: var(--blue300);
}

.color-blue400 {
  color: var(--blue400);
}

.color-blue500 {
  color: var(--blue500);
}

.color-blue600 {
  color: var(--blue600);
}

.color-blue700 {
  color: var(--blue700);
}

.color-pink300 {
  color: var(--pink300);
}

.color-pink400 {
  color: var(--pink400);
}

.color-pink500 {
  color: var(--pink500);
}

.color-pink600 {
  color: var(--pink600);
}

.color-pink700 {
  color: var(--pink700);
}

.color-purple300 {
  color: var(--purple300);
}

.color-purple400 {
  color: var(--purple400);
}

.color-purple500 {
  color: var(--purple500);
}

.color-purple600 {
  color: var(--purple600);
}

.color-purple700 {
  color: var(--purple700);
}

.color-green300 {
  color: var(--green300);
}

.color-green400 {
  color: var(--green400);
}

.color-green500 {
  color: var(--green500);
}

.color-green600 {
  color: var(--green600);
}

.color-green700 {
  color: var(--green700);
}

.color-orange300 {
  color: var(--orange300);
}

.color-orange400 {
  color: var(--orange400);
}

.color-orange500 {
  color: var(--orange500);
}

.color-orange600 {
  color: var(--orange600);
}

.color-orange700 {
  color: var(--orange700);
}

.color-navy300 {
  color: var(--navy300);
}

.color-navy400 {
  color: var(--navy400);
}

.color-navy500 {
  color: var(--navy500);
}

.color-navy600 {
  color: var(--navy600);
}

.color-navy700 {
  color: var(--navy700);
}

.color-currentColor {
  color: currentColor;
}

.color-none {
  color: none;
}

.color-inherit {
  color: inherit;
}

/** Legacy Colors - These are here for backwards compatibility */
.color-navy {
  color: var(--navy700);
}

.color-green {
  color: var(--green500);
}

.color-pink {
  color: var(--pink500);
}

.color-blue {
  color: var(--blue500);
}
.color-purple {
  color: var(--purple500);
}

.color-orange {
  color: var(--orange500);
}

.color-grey {
  color: var(--grey500);
}

.color-red {
  color: var(--pink500);
}

.color-snow {
  color: var(--grey300);
}

.color-platinum {
  color: var(--grey400);
}

.color-silver {
  color: var(--grey500);
}

.color-slate {
  color: var(--navy600);
}

.color-charcoal {
  color: var(--navy700);
}

.color-dark-grey {
  color: var(--navy700);
}

.color-light-grey {
  color: var(--grey500);
}
