.circle {
  border-radius: 50%;
}

.paper {
  background-color: #fff;
  border: 1px solid var(--grey300);
  border-radius: 3px;
}

.shape {
  background-color: var(--grey300);
}

.header {
  background-color: #fff;
  border-bottom: 1px solid var(--grey300);
}

.toolbar {
  border-top: 1px solid var(--grey300);
}
