.root {
  position: relative;
  transform-origin: 48% 50%;
  animation: loadingSpinner 1600ms linear infinite;
}

.root svg {
  fill: var(--navy400);
  position: absolute;
  top: 0;
  left: 0;
}

.small {
  width: 20px;
  height: 20px;
}

.medium {
  width: 30px;
  height: 30px;
}

.large {
  width: 50px;
  height: 50px;
}

@keyframes loadingSpinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
