/* Icon */

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(./fonts/MaterialIcons/MaterialIcons-Regular.woff2) format('woff2'),
    url(./fonts/MaterialIcons/MaterialIcons-Regular.woff) format('woff'),
    url(./fonts/MaterialIcons/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'fontello';
  src:
    url(./fonts/fontello/fontello.woff) format('woff'),
    url(./fonts/fontello/fontello.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}

.root {
  font-family: 'Material Icons';
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  user-select: none;
  word-break: normal;
  line-height: 1em;

  /* Align with text */
  vertical-align: middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.family-material {
  font-family: 'Material Icons';
}

.family-fontello {
  font-family: 'fontello';
}

.weight-normal {
  font-weight: normal;
}

.weight-heavy {
  font-weight: 500;
}

.interactive {
  cursor: pointer;
}


/*
 * Sizes
 */
.size-12 { font-size: 12px; height: 12px; }
.size-14 { font-size: 14px; height: 14px; }
.size-16 { font-size: 16px; height: 16px; }
.size-18 { font-size: 18px; height: 18px; }
.size-20 { font-size: 20px; height: 20px; }
.size-23 { font-size: 23px; height: 23px; }
.size-24 { font-size: 24px; height: 24px; }
.size-26 { font-size: 26px; height: 26px; }
.size-36 { font-size: 36px; height: 36px; }
.size-48 { font-size: 48px; height: 48px; }

/*
 * Colors
 */

.color-black,
.color-dark-grey,
.color-charcoal {
  color: var(--color-grey-charcoal);
}

.color-grey,
.color-slate {
  color: var(--color-grey-slate);
}

.color-silver {
  color: var(--color-grey-silver);
}

.color-platinum,
.color-light-grey {
  color: var(--color-grey-platinum);
}

.color-snow {
  color: var(--color-grey-snow);
}

.color-white {
  color: #fff;
}

.color-green {
  color: var(--green500);
}

.color-orange {
  color: var(--orange500);
}

.color-red {
  color: var(--pink500);
}

.color-blue {
  color: var(--blue500);
}

.color-purple {
  color: var(--purple500);
}

.color-none {}
