/* Icon */
.root {
  display: inline-block;
  user-select: none;
  line-height: 1em;
  vertical-align: middle;
}

.interactive {
  cursor: pointer;
}

/*
 * Colors
 */

.color-black,
.color-dark-grey,
.color-charcoal {
  color: var(--color-grey-charcoal);
}

.color-grey,
.color-slate {
  color: var(--color-grey-slate);
}

.color-silver {
  color: var(--color-grey-silver);
}

.color-platinum,
.color-light-grey {
  color: var(--color-grey-platinum);
}

.color-snow {
  color: var(--color-grey-snow);
}

.color-white {
  color: #fff;
}

.color-green {
  color: var(--color-brand-green);
}

.color-orange {
  color: var(--color-brand-orange);
}

.color-red {
  color: var(--color-brand-red);
}

.color-blue {
  color: var(--color-brand-blue);
}

.color-purple {
  color: var(--color-brand-purple);
}

.color-none {}
