.heading > i {
  position: relative;
  left: 2px;
  top: 6px;
  vertical-align: top;
}

.heading--interactive {
  cursor: pointer;
}

.heading--extra-large,
.heading--large,
.heading--medium,
.heading--small,
.heading--extra-small {
  color: var(--navy700);
}

.heading--extra-large {
  font-size: 2.4rem;
  line-height: 2.8rem;
  font-weight: 700;
}

.heading--large {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 500;
}

.heading--medium {
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 600;
}

.heading--small {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
}

.heading--extra-small {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.2rem;
  text-transform: uppercase;
}
