/* Heading */

.root {
  line-height: 1.25em !important;
}

.root strong {
  font-weight: 600;
}

.root > i {
  position: relative;
  left: 2px;
  vertical-align: top;
}

.flex {
  display: flex;
  flex-grow: 1;
}

.border {
  border-bottom: 1px solid var(--navy300);
}

.border.margin-small {
  padding-bottom: 10px;
}

.border.margin-medium {
  padding-bottom: 15px;
}

.border.margin-large {
  padding-bottom: 30px;
}

.hover-underline:hover {
  text-decoration: underline;
}

.hover-none {

}
