/* Heading */

.root {
  border-radius: 4px;
}

.type-info {
  background: var(--blue300);
}

.type-confirmation {
  background: var(--green300);
}

.type-error {
  background: var(--pink300);
}

.type-warning {
  background: var(--orange300);
}
