.ui-alert {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  align-content: flex-start;
  border-radius: 4px;
  padding: var(--spacing-small) var(--spacing-medium);
  font-size: 1.4rem;
  font-weight: 400;
}

.ui-alert--info {
  background-color: #e8fafc;
  color: var(--blue500);
}

.ui-alert--confirmation {
  background-color: #e5f7f1;
  color: var(--green500);
}

.ui-alert--error {
  background-color: #ffebee;
  color: var(--pink500);
}

.ui-alert--warning {
  background-color: #fff6d8;
  color: var(--orange500);
}
