.root {
  display: flex;
  align-items: center;
}

.star {
  position: relative;
  overflow: hidden;
}

.icon {
  transition: all 0.2s linear;
  position: absolute;
}

.background {
  display: flex;
  color: var(--grey300);
}

.foreground {
  display: flex;
  color: var(--grey300);
}

.foreground.highlight {
  color: var(--purple500);
}

.half {
  width: 50%;
  overflow: hidden;
}
