/* StarRating */

.root {
  display: flex;
  align-items: center;
}

.star {
  position: relative;
  padding-right: 5px;
  overflow: hidden;
}

.icon {
  transition: all 0.2s linear;
  position: absolute;
}

.background {
  display: flex;
}

.foreground {
  display: flex;
}

.half {
  width: 50%;
  overflow: hidden;
}

.color-blue .background,
.color-blue .foreground {
  color: #D2E7F1;
}

.color-blue .foreground.highlight {
  color: rgb(26, 158, 214);
}

.color-navy .background,
.color-navy .foreground {
  color: #D1D7DB;
}

.color-navy .foreground.highlight {
  color: #667B86;
}

.color-purple .background,
.color-purple .foreground {
  color: #DBE1F9;
}

.color-purple .foreground.highlight {
  color: #869AE9;
}
