.ui-lozenge {
  display: inline-block;
  border-radius: 3px;
  font-size: 1.2rem;
  padding: 0.4rem 0.8rem;
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4rem;
  line-height: 1.6rem;
  flex-grow: 0;
}

.ui-lozenge--variant-red {
  background-color: #ffebee;
  color: #c34a57;
}

.ui-lozenge--variant-green {
  background-color: #e5f7f1;
  color: #298665;
}

.ui-lozenge--variant-purple {
  background-color: #f3eefc;
  color: #604e83;
}

.ui-lozenge--variant-orange {
  background-color: #fff6d8;
  color: #d89118;
}

.ui-lozenge--variant-blue {
  background-color: #e8fafc;
  color: #2ba7c2;
}

.ui-lozenge--variant-grey {
  background-color: var(--grey200);
  color: var(--grey600);
  border: 1px solid var(--grey400);
}
