.ui-field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: inherit;
}

.ui-field:not(.ui-field--legacy) {
  flex: 1 1 200px;
  margin-top: 16px;
  margin-left: 16px;
  min-width: 200px;
  max-width: calc(100% - 16px);
}

.ui-field--inline {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.ui-field .ui-field-label {
  flex-shrink: 0;
  margin-right: 24px;
}
