.ui-skill-tag {
  display: inline-flex;
  background-color: var(--white);
  border: 1px solid var(--navy500);
  color: var(--navy700);
  font-size: 12px;
  font-weight: 400;
  padding: 4px 16px;
  border-radius: 12px;
  white-space: nowrap;
  flex-grow: 0;
}

.ui-skill-tag__inner {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-skill-tag--removable {
  padding: 4px 8px 4px 16px;
}

.ui-skill-tag__remove {
  appearance: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0;
  margin-left: 8px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
}

.ui-skill-tag__remove:active {
  box-shadow: none;
}
