.ui-skill-tag {
  display: inline-flex;
  background-color: var(--white);
  border: 1px solid var(--navy300);
  color: var(--navy900);
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6rem;
  padding: 0.4rem 1.6rem;
  border-radius: 12px;
  white-space: nowrap;
  flex-grow: 0;
}

.ui-skill-tag__inner {
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ui-skill-tag--removable {
  padding: 0.4rem 0.8rem 0.4rem 1.6rem;
}

.ui-skill-tag__remove {
  appearance: none;
  background-color: transparent;
  width: 16px;
  height: 16px;
  text-align: center;
  padding: 0;
  margin-left: 0.8rem;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid transparent;
}

.ui-skill-tag__remove:active {
  box-shadow: none;
}
