.root {
  cursor: pointer;
}

.readonly,
.disabled {
  cursor: default;
}

.checkbox {
  border-radius: 3px;
  border: 1px solid var(--grey500);
  background-color: #fff;
  background-position: center center;
  background-size: 100%;
  transition-timing-function: ease-in-out;
  transition-duration: 200ms;
  transition-property: background-color, border-color;
}

.root:hover:not(.readonly):not(.disabled) .checkbox:not(.checked) {
  background-color: var(--grey200);
  border-color: var(--navy600);
}

.checked {
  background-color: var(--grey200);
  border-color: var(--blue500);
  background-image: url('./assets/checked.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}

.indeterminate {
  background-color: var(--grey200);
  border-color: var(--blue500);
  background-image: url('./assets/indeterminate.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: initial;
}

.disabled .checked {
  background-image: url('./assets/checked-disabled.svg');
}

.disabled .checkbox {
  background-color: var(--grey200);
  border: 1px solid var(--grey500);
}
