/* This is a generated file. Update in `/config/.tokens.yml` and use `gulp tokens` to regen! */
:root {
  --navy600: rgb(84, 103, 137);
  --pink600: rgb(224, 88, 103);
  --navy700: rgb(55, 69, 97);
  --pink700: rgb(195, 74, 87);
  --orange300: rgb(255, 237, 180);
  --orange400: rgb(255, 206, 94);
  --orange500: rgb(253, 184, 28);
  --orange600: rgb(246, 175, 13);
  --orange700: rgb(216, 145, 24);
  --green300: rgb(216, 240, 232);
  --green400: rgb(79, 210, 164);
  --green500: rgb(62, 179, 138);
  --grey200: rgb(249, 250, 252);
  --green600: rgb(56, 160, 124);
  --grey300: rgb(238, 244, 250);
  --green700: rgb(41, 134, 101);
  --grey400: rgb(208, 216, 223);
  --grey500: rgb(176, 186, 195);
  --purple300: rgb(232, 226, 242);
  --grey600: rgb(137, 146, 155);
  --grey700: rgb(112, 125, 138);
  --purple400: rgb(159, 129, 218);
  --blue300: rgb(193, 244, 255);
  --purple500: rgb(138, 112, 189);
  --blue400: rgb(101, 210, 234);
  --purple600: rgb(119, 95, 168);
  --blue500: rgb(84, 195, 219);
  --purple700: rgb(96, 78, 131);
  --blue600: rgb(77, 184, 207);
  --pink300: rgb(251, 223, 226);
  --blue700: rgb(43, 167, 194);
  --navy300: rgb(249, 250, 252);
  --navy400: rgb(198, 199, 216);
  --pink400: rgb(253, 179, 200);
  --navy500: rgb(147, 166, 193);
  --pink500: rgb(234, 95, 110);
  --font-size-heading-large: 32;
  --font-size-heading-medium: 24;
  --font-size-heading-small: 16;
  --font-size-heading-x-small: 12;
  --font-size-text-large: 18;
  --font-size-text-medium: 16;
  --font-size-text-small: 14;
  --font-size-text-x-small: 12;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}
