:root {
  --small: 25px;
  --medium: 36px;
  --large: 60px;
  --extra-large: 90px;
  --extra-extra-large: 200px;
}

.root {
  border-radius: 50%;
  transition: all 0.3s linear;
  margin: 0;
  padding: 0;
}

.root:before {
  content: attr(data-initials);
  color: currentColor;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.editable {
  cursor: pointer;
  position: relative;
}

.avatar {
  width: 100%;
  border-radius: 50%;
  display: block;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}

.addLogoButton {
  width: 30px;
  height: 30px;
  background-color: var(--color-grey-platinum);
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid #fff;
  position: absolute;
  bottom: 0;
  right: -12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/**
  * Sizing
***/

.small {
  width: var(--small);
  height: var(--small);
  font-size: 10px;
}

.medium {
  width: var(--medium);
  height: var(--medium);
  font-size: 12px;
}

.large {
  width: var(--large);
  height: var(--large);
  font-size: 18px;
}

.extra-large {
  width: var(--extra-large);
  height: var(--extra-large);
  font-size: 20px;
}

.extra-extra-large {
  width: var(--extra-extra-large);
  height: var(--extra-extra-large);
}


/**
  * Themes
***/

.purple {
  background-color: var(--color-brand-purple-lighter);
  color: var(--color-brand-purple);
}

.blue {
  background-color: var(--color-brand-blue-lighter);
  color: var(--color-brand-blue);
}

.green {
  background-color: var(--color-brand-green-lighter);
  color: var(--color-brand-green);
}

.yellow {
  background-color: var(--color-brand-yellow-lighter);
  color: var(--color-brand-yellow);
}

.grey {
  background-color: var(--color-brand-grey-lighter);
  color: var(--color-brand-grey);
}

.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--color-grey-platinum);
  border: 3px solid #fff;
}

.badge.listed {
  background-color: #fff;
}

.small .badge {
  top: calc(100% - 22px);
  left: calc(100% - 20px);
  width: 24px;
  height: 24px;
  border: 0;
}

.medium .badge {
  bottom: -1px;
  right: -12px;
  width: 24px;
  height: 24px;
  border: 0;
}

.large .badge {
  bottom: -3px;
  right: -20px;
  width: calc(var(--medium) + 6px);
  height: calc(var(--medium) + 6px);
  border: 3px solid #fff;
}

.extra-large .badge {
  bottom: -3px;
  right: -12px;
}
