{
  "extends": "../.babelrc",
  "presets": [
    "next/babel"
  ],
  "plugins": [
    ["styled-components", { "ssr": true, "displayName": true, "preprocess": false } ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./docs/components",
          "layouts": "./docs/layouts",
          "content": "./docs/content"
        }
      }
    ]
  ]
}