.wide {
  width: 100%;
}

.bordered > * {
  border-right: 1px solid #E3EDF1 !important;
}

.bordered > *:last-child {
  border-right: 0px solid transparent !important;
}

.reverse {
  flex-direction: row-reverse;
  justify-content: flex-end;
}
