.ui-field-label {
  font-size: var(--font-size-text-small);
  font-weight: var(--font-weight-semibold);

  display: inline-block;
  vertical-align: bottom;
  margin-bottom: 4px;
  margin-right: 0;
  cursor: inherit;
  text-align: unset;
  text-decoration: inherit;
  color: var(--navy600);
  text-overflow: initial;
  overflow: visible;
  white-space: pre-wrap;
  word-break: break-word;
}
